JETTY_HOME={{ jetty_dst_dir }}/jetty
JETTY_USER={{ jetty_user_login }}
{% if jetty_host is defined and jetty_port is defined %}
JETTY_ARGS='jetty.host={{ jetty_host }} jetty.port={{ jetty_port }}'
{% elif jetty_host is defined %}
JETTY_ARGS='jetty.host={{ jetty_host }}'
{% elif jetty_port is defined %}
JETTY_ARGS='jetty.port={{ jetty_port }}'
{% endif %}
JAVA_OPTIONS="${JAVA_OPTIONS} -Dovc.repo_loc={{ ovc_install_dir }}/Platform-Dynamic-Objects -Dovc.config.dir={{ ovc_install_dir }}/Platform-Dynamic-Objects/config -Xmx4096m"
