#Tue Jun 07 15:45:15 EDT 2016
#Updated by OVCInstaller
appDataImporter.async=true
appDataImporter.useLocalHashcodes=true
calendarDataImport.encrypted.password=C9VdD8e5BH/IMIuSNhwkvg\=\=
calendarDataImport.username=eCommerce
custDataImporter.async=false
custDataImporter.ignoreJsonValidationErrors=true
eComServer.baseSiteId={{ item.value.basesiteid }}
eComServer.encrypted.password=C9VdD8e5BH/IMIuSNhwkvg\=\=
eComServer.retailerId=defaultRetailer
eComServer.username=eCommerce
import.endpoint.temp.location=/tmp
importFiles.externalUserDir=importDefaultExternalUser
importFiles.postProductsImportsDir=eCommerceImportFiles2
importFiles.rootLocationsDir=importRootLocations
importFiles.staffDiscountImportFiles=staffDiscountImportFiles
importFiles.standaloneImportsDir=eCommerceImportFiles
importer_mode=production
ovcServer.adoPath=/opt/ovc/Application-Dynamic-Objects
ovcServer.customer-all={{ item.value.ovc_customer }}
ovcServer.importFilesPath=/opt/ovc/Base-Location-Import-Files/ovc-all-OvcStore
ovcServer.prop_dir=/opt/ovc/Platform-Dynamic-Objects/config
ovcServer.repo_loc=/opt/ovc/Platform-Dynamic-Objects
ovcServer.webcontext=
posMClientSyncUpdater.browser=true
posMClientSyncUpdater.concurrentDevices=4
posMClientSyncUpdater.concurrentStores=4
posMClientSyncUpdater.store={{ item.value.store }}
staffDiscount.bucketName={{ item.value.staff_discount_bucket }}
staffDiscount.protocol=https
staffDiscount.region=us-east-1
