#Fri Jan 13 03:45:08 UTC 2017
#Updated through OVCInstaller
#oort.url=
MESSAGE_COUNTER=10
TIMEOUT=10000
cartDetails.url=/v2/%s/users/%s/carts
catalogs.url=/v2/%s/ovc/merchandisingGroups/All
client_id=trusted_client
client_secret=secret
crosschannel.alerts.host={{ item.value.crosschannel_alerts_host }}
crosschannel.alerts.port=
crosschannel.alerts.scheme=http
crosschannel.isIntegrated=1
customerDetails.url=/v2/%s/users/%s
ecommerce.fromClient.context=yacceleratorstorefront
ecommerce.fromClient.host={{ item.value.ecommerce_host }}
ecommerce.fromClient.logout_relative_url=/en/logout
ecommerce.fromClient.port=9001
ecommerce.fromClient.scheme=http
ecommerce.fromServer.baseSiteId={{ item.value.basesiteid }}
ecommerce.fromServer.host={{ item.value.ecommerce_host }}
ecommerce.fromServer.occ.type=1
ecommerce.fromServer.port=9001
ecommerce.fromServer.scheme=http
ecommerce.vendor=1
employees.url=/v2/%s/ovc/employee/%s
export.product.catalog.name=apparelProductCatalog
export.product.catalog.version=Online
export.product.type=ApparelProduct
export.products.url=v2/%s/ovc/products/paginated
export.stock.url=v2/%s/ovc/storestock/%s
grant_type=client_credentials
grant_type_pwd=password
import.locProduct.fromStock=false
import.stock.balanceType=ats
import.stock.host=devim.ovcdemo.com
import.stock.oauth.code.url=/oauth/code
import.stock.oauth.code.value=jmsuser
import.stock.oauth.port=3009
import.stock.port=3007
import.stock.scheme=http
import.stock.type=product
import.stock.url=stockbalances
jms.destination=jms/destination1
mailServer.encrypted.password=RbNGPpJVCZ6CIIvlQ8d/cg\=\=
mailServer.from=donotreply@oneviewcommerce.com
mailServer.smtp.auth=True
mailServer.smtp.host=smtp.gmail.com
mailServer.smtp.port=587
mailServer.smtp.starttls.enable=True
mailServer.username=donotreply@oneviewcommerce.com
oAuth.required=false
oauth.endpoint.url=/oauth/token
oort.cloud=
others.import.pageSize=1500
ovcDB.db={{ item.value.name }}_xdb
ovcDB.driver=com.mysql.jdbc.Driver
ovcDB.encrypted.password=L3Q5kQqII0OlaJ9FGCaukQ==
ovcDB.host={{ item.value.mysql_host }}
ovcDB.params=autoReconnect\=true
ovcDB.port=3306
ovcDB.scheme=jdbc\:mysql
ovcDB.username=root
ovcNOSQLDB.connectTimeout=5000
ovcNOSQLDB.connectionsPerHost=20
ovcNOSQLDB.db={{ item.value.name }}_xdb
ovcNOSQLDB.maxWaitTime=5000
ovcNOSQLDB.socketTimeout=5000
ovcNOSQLDB.uri=mongodb://root:root@{{ item.value.nosql_host }}:27017/{{ item.value.name }}_xdb?authSource={{ item.value.name }}_xdb
ovcServer.host={{ item.value.url }}
ovcServer.port=443
ovcServer.scheme=https
password=S9beBCmJbdLsitMzzpZ7qQ\=\=
products.import.pageSize=1500
scope=extended
secure.occhost.context=/omnicommercewebservices
store.finder.stock.url=/v2/%s/products/%s/stock
stores.url=/v2/%s/ovc/locations/All
username=customermanager
comm.tlog.url={{ item.value.sqs_or_sns_config }}
