SolutionStack: "{{ solution_stack_name }}"
AWSConfigurationTemplateVersion: "{{ beanstalk_template_version }}"
Tags:
  environment: "{{ deploy_type }}"
  role: "{{ im_role }}"
  monitor: "{{ im_monitor }}"
