check process jetty with pidfile "/var/run/jetty.pid"
start program = "/sbin/service jetty start"
stop program = "/sbin/service jetty stop"

check host pos_server_health_check with address localhost
   if failed url http://localhost:8080/json/posservices/health for 2 cycles then restart

check file jetty.log with path /opt/jetty/logs/jetty.log
   if match ".*OutOfMemoryError" then restart
   if match "Communications link failure" then restart
