# REQUIRED
# Enter your Group ID - It can be found at /settings
#
mmsGroupId="{{ mmsGroupId }}"

# REQUIRED
# Enter your API key - It can be found at /settings
#
mmsApiKey="{{ mmsApiKey }}"

# Base url of the MMS web server.
#
mmsBaseUrl="{{ mms_base_url }}"

# Path to log file
#
logFile="{{ log_file }}"

# Path to backup automation configuration
#
mmsConfigBackup="{{ mms_config_backup }}"

# Lowest log level to log.  Can be (in order): DEBUG, ROUTINE, INFO, WARN, ERROR, DOOM
#
logLevel="{{ log_level }}"

# Maximum number of rotated log files
#
maxLogFiles="{{ max_log_files }}"

# Maximum size in bytes of a log file (before rotating)
#
maxLogFileSize="{{ max_log_file_size }}"

# URL to proxy all HTTP requests through
#
#httpProxy=
