#Tue Jun 07 15:45:15 EDT 2016
#Updated by OVCInstaller
appDataImporter.async=true
appDataImporter.useLocalHashcodes=true
calendarDataImport.encrypted.password=1D6DfFDrZTJ2/Tt17Fn2l4tj+MlBjtnm+CR4NGge5+tey6ynSbEyAoFBDvVmipoN
calendarDataImport.username=eCommerce
custDataImporter.async=false
custDataImporter.ignoreJsonValidationErrors=true
eComServer.baseSiteId=wickesStores
eComServer.encrypted.password=XYSRHSbZ3Xq6/DLfziigCQ==
eComServer.retailerId=defaultRetailer
eComServer.username=ovcadmin
import.endpoint.temp.location=/tmp
importFiles.externalUserDir=importDefaultExternalUser
importFiles.postProductsImportsDir=eCommerceImportFiles2
importFiles.rootLocationsDir=importRootLocations
importFiles.staffDiscountImportFiles=staffDiscountImportFiles
importFiles.standaloneImportsDir=eCommerceImportFiles
importer_mode=production
ovcServer.customer-all=tp-all
ovcServer.prop_dir=/opt/ovc/Platform-Dynamic-Objects/config
ovcServer.repo_loc=/opt/ovc/Platform-Dynamic-Objects
ovcServer.webcontext=
posMClientSyncUpdater.browser=true
posMClientSyncUpdater.store=All
staffDiscount.bucketName={{ item.value.staff_discount_bucket }}
staffDiscount.protocol=https
staffDiscount.region=eu-west-1

###Added in 5.12.0 Release
ovcServer.adoPath=/opt/ovc/Application-Dynamic-Objects
ovcServer.importFilesPath=/opt/ovc/Base-Location-Import-Files/ovc-all-OvcStore
