check process apache with pidfile "/var/run/httpd/httpd.pid"
start program = "/sbin/service httpd start"
stop program = "/sbin/service httpd stop"
{% if slack_webhook_url is defined %}
    if changed pid then exec "{{ monit_home }}/slackNotify.sh"
{% endif %}

check host dashboard_health_check with address localhost
start program = "/sbin/service httpd start"
stop program = "/sbin/service httpd stop"
{% if slack_webhook_url is defined %}
    if failed url http://localhost:9080/ovcdashboard/login for 2 cycles then exec "{{ monit_home }}/slackNotify.sh" else if succeeded then exec "{{ monit_home }}/slackNotify.sh"
{% endif %}
   if failed url http://localhost:9080/ovcdashboard/login for 2 cycles then restart
