ovcServer.webcontext=
ovcServer.repo_loc=/opt/ovc/Platform-Dynamic-Objects
ovcServer.prop_dir=/opt/ovc/Platform-Dynamic-Objects/config

ovcServer.adoPath=/opt/ovc/Application-Dynamic-Objects/
ovcServer.importFilesPath=/opt/ovc/Base-Location-Import-Files/

#ovcServer.customer-all=test-all,dt-all,Gstar-grp-all
ovcServer.customer-all=dt-all

appDataImporter.useLocalHashcodes=false
appDataImporter.async=false

custDataImporter.async=false
custDataImporter.ignoreJsonValidationErrors=true
importer_mode=production
import.endpoint.temp.location=/tmp

importFiles.rootLocationsDir=importRootLocations
importFiles.externalUserDir=importDefaultExternalUser
importFiles.standaloneImportsDir=standaloneImportFiles
importFiles.postProductsImportsDir=eCommerceImportFiles2
importFiles.staffDiscountImportFiles=staffDiscountImportFiles

calendarDataImport.username=eCommerce
calendarDataImport.encrypted.password=0g+BcBjTQhr3o4lhByHQoR+VJTmM6j+I16Hs4Fokf52GBGeSQQPt4cnJM38fEKJt

posMClientSyncUpdater.store=1002
posMClientSyncUpdater.browser=true

applicationDataTypeProvider.class=com.oneview.tools.posmclient.DTPosmclientDataTypeProvider

eComServer.username=eCommerce
eComServer.encrypted.password=C9VdD8e5BH/IMIuSNhwkvg==
eComServer.baseStoreId=discounttire
eComServer.baseSiteId=discounttire
eComServer.retailerId=defaultRetailer
