#Created as workaround to replace during deployment.


TIMEOUT=10000

ovcDB.port=3306
ovcDB.username=root
ovcDB.db=xdb
ovcDB.host=127.0.0.1
ovcDB.scheme=jdbc\:mysql
ovcDB.params=autoReconnect\=true
ovcDB.encrypted.password=pS6Uu4KU3B9G9FRg5IlnBg\=\=
ovcDB.driver=com.mysql.jdbc.Driver

ovcNOSQLDB.uri=mongodb://root:root@localhost:27017/xdb?authSource=xdb
ovcNOSQLDB.db=xdb


ovcNOSQLDB.maxWaitTime=5000
ovcNOSQLDB.db=xdb
ovcNOSQLDB.host=127.0.0.1
ovcNOSQLDB.username=root
ovcNOSQLDB.port=27017
ovcNOSQLDB.encrypted.password=pS6Uu4KU3B9G9FRg5IlnBg\=\=
ovcNOSQLDB.socketTimeout=5000
ovcNOSQLDB.connectionsPerHost=20
ovcNOSQLDB.connectTimeout=5000

cartDetails.url=/v2/%s/users/%s/carts

mailServer.smtp.port=587

ovcServer.scheme=http
ovcServer.host=pos-rc.dtdev.com
ovcServer.port=8080

ecommerce.vendor=1




MESSAGE_COUNTER=10
mailServer.smtp.auth=True
mailServer.smtp.starttls.enable=True
mailServer.encrypted.password=RbNGPpJVCZ6CIIvlQ8d/cg\=\=
mailServer.from=donotreply@oneviewcommerce.com


store.finder.stock.url=/v2/%s/products/%s/stock
stores.url=/v2/%s/stores

ecommerce.fromServer.scheme=https
ecommerce.fromServer.host=hybris.dtdev.com
ecommerce.fromServer.baseSiteId=discounttire
ecommerce.fromServer.port=443

ecommerce.fromClient.context=yacceleratorstorefront
ecommerce.fromClient.host=hybris.dtdev.com
ecommerce.fromClient.port=443
ecommerce.fromClient.scheme=https
ecommerce.fromClient.logout_relative_url=/en/logout

oort.url=


# Hybris data import properties

oAuth.required=false
oauth.endpoint.url=/oauth/token



# 1 - for old/Legacy OVC OCC, 2 - for New Ovc OCC custom implementation, 3 - for OOTB Hybris, and based on thse values , the hybris OCC endpoints need to be accordingly changed.

ecommerce.fromServer.occ.type=1

secure.occhost.context=/extovcocc
export.products.url=v2/%s/ovc/products/paginated
employees.url=/v2/%s/ovc/employee/OvcStore
catalogs.url=/v2/%s/ovc/merchandisingGroups/All
stores.url=/v2/%s/ovc/locations/All
export.stock.url=v2/%s/ovc/storestock/%s
customerDetails.url=/v2/%s/users/%s

export.product.type=
scope=extended
grant_type=client_credentials
grant_type_pwd=password
client_id=trusted_client
client_secret=secret
username=customermanager
password=1234

products.import.pageSize=2000
others.import.pageSize=2000



#DT Urls extra
vehicles.url=/v2/%s/ovc/atv/vehicles
trims.url=/v2/%s/ovc/atv/trims
assemblies.url=/v2/%s/ovc/atv/assemblies
linkedProducts.url=/v2/%s/ovc/productrelation/paginated
vehicleAssemblies.url=/v2/%s/ovc/atv/vehicleAssemblies
chassis.url=/v2/%s/ovc/atv/chassis
certificateFeePriceRules.url=/v2/%s/ovc/productrelation/feePriceRules

export.product.catalog.name=apparelProductCatalog
export.product.catalog.version=Online

oort.cloud=
import.stock.url=stockbalances
import.stock.oauth.port=3009
import.stock.scheme=http
import.stock.oauth.code.value=jmsuser
import.stock.host=devim.ovcdemo.com
import.stock.oauth.code.url=/oauth/code
import.stock.port=3007
import.stock.type=Hybris
import.stock.balanceType=ats




mailServer.smtp.host=smtp.gmail.com
password=S9beBCmJbdLsitMzzpZ7qQ\=\=



mailServer.username=donotreply@oneviewcommerce.com


#Alerts Crosschannel server details
crosschannel.isIntegrated=1
crosschannel.apigateway.version=v1
crosschannel.apigateway.port=3009
crosschannel.alerts.scheme=http
crosschannel.alerts.host=cc-rc.dtdev.com
crosschannel.alerts.port=3007

#JMS
jms.destination=jms/destination1
po.create.url=http://esbisld01.trtc.com:5555/ws/DtProcurement.PurchaseOrder.v1.ws.provider:PurchaseOrder/DtProcurement_PurchaseOrder_v1_ws_provider_PurchaseOrder_Port


#comm.tlog.url=arn:aws:sns:us-east-1:748109554602:ovc-rc-sns
#comm.tlog.url=arn:aws:sqs:us-east-1:748109554602:dtrc
comm.tlog.url=https://sqs.us-east-1.amazonaws.com/748109554602/dtrc
