# 1 - for old/Legacy OVC OCC, 2 - for New Ovc OCC custom implementation, 3 - for OOTB Hybris, and based on thse values , the hybris OCC endpoints need to be accordingly changed.
# Hybris data import properties
#Alerts Crosschannel server details
#comm.tlog.url=arn:aws:sns:us-east-1:748109554602:ovc-rc-sns
#comm.tlog.url=arn:aws:sqs:us-east-1:748109554602:dtrc
#Created as workaround to replace during deployment.
#DT Urls extra
#JMS
assemblies.url=/v2/%s/ovc/atv/assemblies
cartDetails.url=/v2/%s/users/%s/carts
catalogs.url=/v2/%s/ovc/merchandisingGroups/All
certificateFeePriceRules.url=/v2/%s/ovc/productrelation/feePriceRules
chassis.url=/v2/%s/ovc/atv/chassis
client_id=trusted_client
client_secret=secret
comm.tlog.url={{ item.value.sqs_or_sns_config }}
crosschannel.alerts.host={{ item.value.crosschannel_host }}
crosschannel.alerts.port=3007
crosschannel.alerts.scheme=http
crosschannel.apigateway.port=3009
crosschannel.apigateway.version=v1
crosschannel.isIntegrated=1
customerDetails.url=/v2/%s/users/%s
ecommerce.fromClient.context=yacceleratorstorefront
ecommerce.fromClient.host={{ item.value.ecommerce_host }}
ecommerce.fromClient.logout_relative_url=/en/logout
ecommerce.fromClient.port=443
ecommerce.fromClient.scheme=https
ecommerce.fromServer.baseSiteId=discounttire
ecommerce.fromServer.host={{ item.value.ecommerce_host }}
ecommerce.fromServer.occ.type=1
ecommerce.fromServer.port=443
ecommerce.fromServer.scheme=https
ecommerce.vendor=1
employees.url=/v2/%s/ovc/employee/OvcStore
export.product.catalog.name=apparelProductCatalog
export.product.catalog.version=Online
export.product.type=
export.products.url=v2/%s/ovc/products/paginated
export.stock.url=v2/%s/ovc/storestock/%s
grant_type_pwd=password
grant_type=client_credentials
import.stock.balanceType=ats
import.stock.host={{ item.value.port_host }}
import.stock.oauth.code.url=/oauth/code
import.stock.oauth.code.value=jmsuser
import.stock.oauth.port=3009
import.stock.port=3007
import.stock.scheme=http
import.stock.type=Hybris
import.stock.url=stockbalances
jms.destination=jms/destination1
linkedProducts.url=/v2/%s/ovc/productrelation/paginated
mailServer.encrypted.password=RbNGPpJVCZ6CIIvlQ8d/cg\=\=
mailServer.from=donotreply@oneviewcommerce.com
mailServer.smtp.auth=True
mailServer.smtp.host=smtp.gmail.com
mailServer.smtp.port=587
mailServer.smtp.starttls.enable=True
mailServer.username=donotreply@oneviewcommerce.com
MESSAGE_COUNTER=10
oauth.endpoint.url=/oauth/token
oAuth.required=false
oort.cloud=
oort.url=
others.import.pageSize=2000
ovcDB.db=dev_xdb
ovcDB.driver=com.mysql.jdbc.Driver
ovcDB.encrypted.password=L3Q5kQqII0OlaJ9FGCaukQ==
ovcDB.host={{ item.value.mysql_host }}
ovcDB.params=autoReconnect\=true
ovcDB.port=3306
ovcDB.scheme=jdbc\:mysql
ovcDB.username=root
ovcNOSQLDB.connectionsPerHost=20
ovcNOSQLDB.connectTimeout=5000
ovcNOSQLDB.db={{ item.value.name }}_xdb
ovcNOSQLDB.encrypted.password=pS6Uu4KU3B9G9FRg5IlnBg\=\=
ovcNOSQLDB.maxWaitTime=5000
ovcNOSQLDB.port=27000
ovcNOSQLDB.socketTimeout=5000
ovcNOSQLDB.uri=mongodb://root:root@{{ item.value.nosql_host }}:{{ item.value.nosql_port }}/{{ item.value.name }}_xdb?authSource={{ item.value.name }}_xdb
ovcNOSQLDB.username=root
ovcServer.host={{ item.value.url }}
ovcServer.port=443
ovcServer.scheme=https
password=1234
password=S9beBCmJbdLsitMzzpZ7qQ\=\=
po.create.url=http://esbisld01.trtc.com:5555/ws/DtProcurement.PurchaseOrder.v1.ws.provider:PurchaseOrder/DtProcurement_PurchaseOrder_v1_ws_provider_PurchaseOrder_Port
products.import.pageSize=2000
scope=extended
secure.occhost.context=/extovcocc
store.finder.stock.url=/v2/%s/products/%s/stock
stores.url=/v2/%s/ovc/locations/All
stores.url=/v2/%s/stores
TIMEOUT=10000
trims.url=/v2/%s/ovc/atv/trims
username=customermanager
vehicleAssemblies.url=/v2/%s/ovc/atv/vehicleAssemblies
vehicles.url=/v2/%s/ovc/atv/vehicles
