SolutionStack: "{{ solution_stack_name }}"
AWSConfigurationTemplateVersion: "{{ beanstalk_template_version }}"
Tags:
  environment: "{{ deploy_type }}"
  role: "{{ pe_role }}"
  monitor: "{{ pe_monitor }}"
