{
	"appImports": [
		{
			"platformDirectory": "Platform-Data",
			"overrideFolders": ["platform-all"],
			"checkOverride": false
		},
		{
			"applicationDirectory": "Point-Of-Sale/App-Data",
			"overrideFolders": ["Client-grp-all", "/Gstar-grp-all"],
			"checkOverride": false
		},
		{
			"applicationDirectory": "Point-Of-Sale/Shared-Data",
			"overrideFolders": ["Client-grp-all", "/Gstar-grp-all"],
			"checkOverride": true
		},
		{
			"applicationDirectory": "Point-Of-Sale/Server-Data",
			"overrideFolders": ["Client-grp-all", "/Gstar-grp-all"],
			"checkOverride": true
		},
		{
			"applicationDirectory": "Point-Of-Sale/Client-Data",
			"overrideFolders": ["Client-grp-all", "/Gstar-grp-all"],
			"checkOverride": false
		}
	]
}