<?php
class DATABASE_CONFIG {

        public $default = array(
                
		'datasource' => 'Database/Mysql',
                'persistent' => false,
		'host' => '{{ ovcDB_host }}',
		'login' => '{{ ovcDB_username }}',
		'password' => '{{ ovcDB_password }}',
		'database' => '{{ ovcDB_db }}',
		'prefix' => '',
	);


}

