<?php
	/* Please use HTML Code for currency symobol (http://character-code.com/currency-html-codes.php) */

	$config['setting'] = array(


		'DBURL' => 'com.mysql.jdbc.Driver://{{ ovcDB_host }}:{{ ovcDB_port }}/{{ ovcDB_db }}',
		'DBType' => 'MySQL',
		'DBUserId' => '{{ ovcDB_username }}',
		'DBPassword' => '{{ ovcDB_password }}',
		'REPORT_URL' => '{{ ovcServer_scheme }}://{{ ovc_pos_url }}:{{ ovcServer_port }}/OVCBIRT/',
		'REPORT_d3_URL' => '{{ ovcServer_scheme }}://{{ ovc_pos_url }}:{{ ovcServer_port }}/json/',
		'REPORT_DESIGN_PATH' => '{{ html_root }}/ovcdashboard/app/Config/reports/',
		'PROCESS_DESIGNER_URL' => 'http://apparel.ovcdemo.com:8080/OVCFramework/designer/index.html',
 	);
	$config['deploy_changes'] = array(
		'OVC_SERVICE_URL'=> '{{ ovcServer_scheme }}://{{ ovc_pos_url }}:{{ ovcServer_port }}/json/process/execute/',
		'Authorization' => 'YWRtaW46bmltZGE=',
		'X-Ovc-Duuid' => 'posMClient-web',
		'syncMode' => 'appDataRefresh',
	);
	$config['ecommerce_data'] = array(
		'syncMode' => 'eComRefresh',
	);
	$config['service_type'] = array(
        'DEPLOY_CHANGES_SERVICE' => 'SynchronizeData',
        'USER_CHANGES_SERVICE' => 'NotifyUserUpdate',
        'DEPLOY_PRICE_SUBMIT_MODE' => 'ApplyPriceChanges'
       );
	$config['sales_person'] = array(
		'OVC_SERVICE_URL'=> '{{ ovcServer_scheme }}://{{ ovc_pos_url }}:{{ ovcServer_port }}/json/transaction/',
		'Authorization' => 'ZUNvbW1lcmNlOmNoYW5nZW1l',
		'Get_Transaction' => 'getTransactions',
		'Update_sales' => 'updateSalesPerson'
	);
?>
