- set_fact:
    demo_tag_release: "{{ ami_release }}"
  when: ami_release == 'devops-autobuild'


- name: Bundle AMI
  local_action:
    module: ec2_ami
    instance_id: "{{ just_created_instance_id }}"
    region: "{{ ami_baker_region }}"
    state: present
    description: This was provisioned {{ ansible_date_time.iso8601 }}
    name: "{{ ami_name }}_demo"
    wait: yes
    wait_timeout: 1500
    tags:
      customer: "{{ ami_customer }}"
      release: "{{ demo_tag_release }}"
      source: "{{ source_ami }}"
      git_sha: "{{ ovc_git_sha }}"
      git_branch: "{{ ovc_circle_branch }}"
      source_customer: "{{ source_tag_customer }}"
      source_git_branch: "{{ source_tag_git_branch }}"
      source_git_sha: "{{ source_tag_git_sha }}"
      source_release: "{{ source_tag_release }}"
      pos_version: "{{ source_tag_pos_version }}"
      ext_version: "{{ source_tag_ext_version }}"
  register: amioutput


- name: Demo AMI created
  debug: "var=amioutput"

- name: Terminate temporary instance
  local_action:
    module: ec2
    state: absent
    region: "{{ ami_baker_region }}"
    instance_ids: "{{ just_created_instance_id }}"
  tags:
    - terminate_ami
