---
- include_vars: newrelic_license.yml

- name: Create NewRelic license file
  template:
    src: newrelic-infra.yml.j2
    dest: /etc/newrelic-infra.yml
  become: yes
  become_user: root

- name: Add YUM NewRelic Infrastructure Repository
  yum_repository:
    name: newrelic-infra
    description: New Relic Infrastructure
    baseurl: http://download.newrelic.com/infrastructure_agent/linux/yum/el/7/x86_64
    gpgcheck: no
  become: yes
  become_user: root

- name: Install NewRelic Infrastructure agent
  yum:
    name: newrelic-infra
    disablerepo: '*'
    enablerepo: newrelic-infra
  become: yes
  become_user: root

- name: Create NewRelic PID directory
  file:
    path: /etc/newrelic-infra
    state: directory
    mode: "u=rw,g=r,o=r"

- name: Create upstart script
  template:
    src: newrelic-infra.conf.j2
    dest: /etc/init/newrelic-infra.conf
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"

- name: Enable service
  service:
    name: newrelic-infra
    enabled: yes
